<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hg-twitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script>
    function register(){
        window.location.href = "http://localhost:8080/twitter/login/";
    }

</script>
<body>
    <p th:text="'Please register to use this app'"/>

    <input th:type="button" th:value="'Register'" onclick="register()"/>
</body>
</html>
