<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hg-twitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <p th:text="'Thanks for registering, ' + ${screenName} + '!'" />

    <p th:text="'Here is your token, keep it safe. It will allow you to tweet from this web: ' +  ${uuid}    " />

    <a href="/push-tweet">Already feeling like tweeting?</a>

</body>
</html>